<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>SmartVillage | 404</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/public/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/public/dist/css/AdminLTE.min.css">

  <!-- jQuery -->
  <script src="/public/plugins/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 4 
  <script src="/public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  -->
  <!-- AdminLTE App -->
  <script src="/public/dist/js/adminlte.min.js"></script>

  <style>
    body {
      font-size: 0.875rem;
    }
  </style>

</head>

<body>
  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div>
      <!-- Main content -->
      <section class="content">
        <div class="error-page">
          <h2 class="headline text-warning"> 404</h2>

          <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>

            <p>
              We could not find the page you were looking for.
              Meanwhile, you may <a href="/home">return to dashboard</a> or try using the search form.
            </p>

            <form class="search-form">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search">

                <div class="input-group-append">
                  <button type="submit" name="submit" class="btn btn-warning"><i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
              <!-- /.input-group -->
            </form>
          </div>
          <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  </div>
</body>

</html>